body{
  margin-top:10%;
}
a{
  color: #212121;
  font-weight: 400;
}
.name{
  font-family: 'Open Sans';
    font-size: 80px;
    line-height: 71px;
    padding-bottom: 50px;
    font-weight: 600;
    border-right: 1px dotted #dedede;
}
.name div{
  text-align: right;
}
.title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px
}
.skills_1st{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px
}
.skills_2nd{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px
}
.info{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 24px
}
.info bold{
  font-weight: 600;
}

@media (max-width: 576px) { 
  body{
    margin-top:40%;
  }
  .name div{
    text-align: center;
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
  .name div{
    text-align: center;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }