<div class="popup os-bg-gradient full-scrn animated" ng-show="showHealthPopup" ng-class="{'fadeIn' : showHealthPopup, 'fadeOut' : !showHealthPopup}">
    <div class="row">
        <div class="small-centered columns mgn-auto mgn-t15p content os-bg-white" ng-class="{'small-8': isMobile, 'small-4' : !isMobile}">
            <div class="medical-health-image pop-image">
                <i class="icon ico-oc-close" ng-click="closePopup()"> </i>
            </div>
            <div class="text-center pad-10">
                <h5 class="os-color-gray"> Medical extension</h5>
                <p class="font-size-14px"> Talk to a student support officer to extend your course due to health reasons. Extension methods due to health reasons may be exempt from fees.</p>

                <a class="text-hover-white no-deco" ng-href="page#/faqs/my-profile-and-enrolment?jumpto=how-do-i-cancel-withdraw-or-defer-my-course">
                    <div class="button-left button-secondary-medium os-ft-weight-exbold text-hover-white">More info</div>
                </a>
                <div class="button-right button-secondary-medium os-ft-weight-exbold " ng-click="closePopup()">Proceed with form</div>
            </div>
        </div>
    </div>
</div>


<div class="popup os-bg-gradient full-scrn animated" ng-show="showDeletePopup" ng-class="{'fadeIn' : showDeletePopup, 'fadeOut' : !showDeletePopup}">
    <div class="row">

        <div class="small-centered columns mgn-auto mgn-t15p content os-bg-white" ng-class="{'small-8': isMobile, 'small-4' : !isMobile}">
            <div class="clear-reason-image pop-image">
                <i class="icon ico-oc-close" ng-click="closePopup()"> </i>
            </div>
            <div class="text-center pad-10">
                <h5 class="os-color-gray"> Are youe sure?</h5>
                <p class="font-size-14px"> You are about to delete your comment and it can not be restored. Confirm your selection by clicking the buttons below.</p>
                <div class="button-left button-secondary-medium os-ft-weight-exbold delete-decision yeah" ng-click="selectReason('',''); closePopup(); formData.extensionOtherReason = '';">Delete</div>
                <div class="button-right button-secondary-medium os-ft-weight-exbold delete-decision no" ng-click="closePopup()">Take me back</div>
            </div>
        </div>
    </div>
</div>


<div class="popup os-bg-gradient full-scrn animated" ng-show="showErrorPopup" ng-class="{'fadeIn' : showErrorPopup, 'fadeOut' : !showErrorPopup}">
    <div class="row">

        <div class="small-centered columns mgn-auto mgn-t15p content os-bg-white" ng-class="{'small-8': isMobile, 'small-4' : !isMobile}">
            <div class="pop-image" style="background-image: url('{{errorImage}}');">
                <i class="icon ico-oc-close" ng-click="closePopup()"> </i>

            </div>
            <div class="text-center pad-10">
                <h5 class="os-color-gray"> {{errorTitle}}</h5>

                <div ng-bind-html="errorMessage"> </div>

                <a class="text-hover-white no-deco" ng-href="{{supportLink}}" ng-if="errorType != 'pending_application' && errorType != 'confirm_cancel' ">
                    <div class="button button-secondary-medium os-ft-weight-exbold text-hover-white">contact support</div>
                </a>

                <a class="text-hover-white no-deco" ng-click="cancelApplication()" ng-if="errorType == 'pending_application' ">
                    <div class="button button-secondary-medium os-ft-weight-exbold text-hover-white">Cancel application</div>
                </a>

                <a class="text-hover-white no-deco" ng-click="nextStep(3)" ng-if="errorType == 'unknown' ">
                    <div class="button button-secondary-medium os-ft-weight-exbold text-hover-white">Cancel application</div>
                </a>

                <div class="button-left button-secondary-medium os-ft-weight-exbold delete-decision yeah" ng-if="errorType == 'confirm_cancel'" ng-click="confirmApplicationCancel();">Yes</div>
                <div class="button-right button-secondary-medium os-ft-weight-exbold delete-decision no" ng-if="errorType == 'confirm_cancel'" ng-click="closePopup()">No</div>
            </div>
        </div>
    </div>
</div>


<div class="popup os-bg-gradient full-scrn animated" ng-show="pendingForPayment" ng-class="{'fadeIn' : pendingForPayment, 'fadeOut' : !pendingForPayment}">
    <div class="row">
        <div class="small-centered columns mgn-auto mgn-t15p content os-bg-white" ng-class="{'small-8': isMobile, 'small-4' : !isMobile}">
            <div class="pop-image" style="background-image: url('app/src/extension-form/images/processing.png');">

            </div>
            <div class="text-center pad-10">
                <h5 class="os-color-gray"> Processing Payment</h5>
                <div>
                    <p>We are processing your payment </p>
                    <p>To ensure your payment is not interrupted, please avoid closing or refreshing this page.</p>
                </div>

            </div>
        </div>
    </div>
</div>