<div id="step1" class="extention-form-step" vcenter offset="80">


    <div class="content-container">
        <h2 class="pad-b10">Course Extension T&Cs and Declaration</h2>
        <p class="os-semi-bold"> Please ensure you read and understand the following conditions.</strong>
            <p> You must submit your application for extension prior to the course expiry date and ensure all course fees due have been paid prior to the extension request.<br/> If your request is successful, you will be required to pay a course extension
                fee outlined in the Schedule of Administrative Fees. A maximum of six months may be granted and Open Colleges reserves the right to refuse an application for extension. You will be required to pay a course extension fee of $50 AUD per
                month, as outlined in the Schedule of Administrative Fees.
                <p/>
                <p>Open Colleges reserves the right to refuse an application for extension where we do not deem this to be in your best interest.</p>

                <h3> Declaration</h3>
                <p> I have read and accept the course extension conditions and declare that the information I have provided is correct and complete. I understand that any course extension must comply with the terms and conditions of enrolment and that my
                    request has not been finalised until I have been sent a confirmation email from Open Colleges.</p>




    </div>

    <div class="form-footer os-bg-white sld-bdr-t-black position-fixed">

        <div class="content-container">
            <div class="row pad-t10 pad-b10">

                <div class="column small-12 small-text-center medium-4 medium-text-left nopad left">
                    <button class="next-step-button button button-secondary-medium" ng-click="nextStep(2)" ng-class="{'mobile': isMobile}"> I accept the terms </button>
                </div>


            </div>
        </div>
    </div>


</div>