<div id="step5" class="extention-form-step" vcenter offset="80" ng-class="{'mobile': isMobile}">

    <div class="content-container top">

        <div class="row">

            <div class="os-bg-white large-7 small-centered columns payment-details">
                <div class="row pad-10">
                    <p class="os-semi-bold os-color-black font-size-16px">Course Extension Details</p>
                </div>

                <div class="row detail first">
                    <div class="title small-12 columns left" ng-class="{'pad-10' : isMobile}"> Name </div>
                    <div class="neg-mgn-t10 pad-t5 description small-12 columns right" ng-class="{'pad-10' : isMobile}">{{formData.studentDetails.studentName}}</div>
                </div>

                <div class="row detail">
                    <div class="title small-12 columns left" ng-class="{'pad-10' : isMobile}"> Course </div>
                    <div class="neg-mgn-t10 pad-t5 description small-12 columns right" ng-class="{'pad-10' : isMobile}">{{formData.selectedCourse.courseName}}</div>
                </div>

                <div class="row detail">
                    <div class="title small-12 columns left" ng-class="{'pad-10' : isMobile}"> Extension Length </div>
                    <div class="neg-mgn-t10 pad-t5 description small-4 columns left" ng-class="{'pad-10' : isMobile}">{{formData.durationSelected}} Months</div>
                    <div class="neg-mgn-t10 pad-t5 description small-8 columns right text-right os-color-light-gray" ng-show="!isMobile">({{formData.durationSelected}} x ${{formData.extensionPricePerMonth}} p/month = ${{formData.extensionPrice}}) </div>
                </div>

                <!--<div class="row detail">
                    <div class="title small-12 columns left"> New Course Expiry Date </div>
                    <div class="neg-mgn-t10 pad-t5">{{formData.course_expiry_date}}</div>
                </div>-->

                <div class="row detail">
                    <div class="title small-12 columns left" ng-class="{'pad-10' : isMobile}"> New Course Expiry Date </div>
                    <div class="neg-mgn-t10 pad-t5 description small-12 columns right" ng-class="{'pad-10' : isMobile}">{{formData.newExpiryDate | momentToDate}}
                    </div>


                </div>




                <div class="row detail summary">
                    <div class="title small-8 columns left" ng-class="{'pad-10' : isMobile}"> Cost Summary </div>
                    <div class="title small-4 columns right" ng-class="{'pad-10' : isMobile}"> AUD </div>
                    <div class="neg-mgn-t10 description small-8 columns left" ng-class="{'pad-10' : isMobile}">Total Amount</div>
                    <div class="neg-mgn-t10 description small-4 columns right" ng-class="{'pad-10' : isMobile}">${{formData.extensionPrice}}</div>
                </div>

            </div>
        </div>

    </div>






    <div class="form-footer os-bg-white sld-bdr-t-black position-fixed">

        <div class="content-container">
            <div class="row pad-t10 pad-b10">

                <div class="column small-12 small-text-center medium-4 medium-text-left nopad left">
                    <button class="next-step-button button button-secondary-medium" ng-click="pay()" ng-class="{'mobile': isMobile}"> Proccess Payment </button>

                </div>


            </div>
        </div>
    </div>


</div>