<div id="step7" class="extention-form-step" vcenter offset="80">


    <div class="content-container top">

        <div class="row">

            <div class="os-bg-white small-8 large-6 small-centered columns successful-payment">
                <div class="top pad-10" ng-if="paymentSuccessful" style="background: url(/app/src/extension-form/images/{{resultImage}}.png) no-repeat;background-size: 50%;background-position: 50%; height:250px;"></div>
                <div class="" ng-if="!paymentSuccessful" style="background: url(/app/src/extension-form/images/error.png) no-repeat;background-size: 100%;background-position: 50%; height:250px;"></div>

                <div class="bottom pad-10 text-center">
                    <h2> {{resultText}}</h2>
                    <div class="font-size-14px" ng-bind-html="resultDesc"></div>
                    <div class="font-size-14px os-color-deep-teal" ng-if="paymentSuccessful">{{formData.studentDetails.studentEmail}}</div>
                    <div class="font-size-14px" ng-if="paymentSuccessful"> Your new course expiry date is <span class="os-color-deep-teal">{{expiryDate | momentToDate}}</span></div>
                    <div class="pad-t10">
                        <button class="button button-secondary-medium" ng-click="contactSupport()"> Contact Support</button>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="form-footer os-bg-white sld-bdr-t-black position-fixed">

        <div class="content-container">
            <div class="row pad-t10 pad-b10">

                <div class="column small-12 small-text-center medium-4 medium-text-left nopad left">
                    <button class="next-step-button button button-secondary-medium" ng-click="nextStep(0, true)"> Return Home </button>
                </div>


            </div>
        </div>
    </div>




</div>