<div id="step3" class="extention-form-step" vcenter offset="80" ng-class="{'mobile': isMobile}">

    <div class="content-container mgn-t60 top">


        <div class="row">
            <div class="large-7 columns small-centered">
                <div class="student-details">
                    <div class="top text-center pad-20">
                        <img ng-src="{{formData.studentDetails.studentImage}}">
                        <p class="font-size-20px pad-t26"> {{formData.studentDetails.studentName}}
                    </div>
                    <div class="bottom os-bg-white pad-20">

                        <div class="position-relative course-picker-container">
                            <div class="course-picker mgn-b20" ng-click="showCourseList()">
                                <div class="font-size-16px os-color-deep-teal pad-10 os-semi-bold">
                                    <div class="selected-course-title left"> {{formData.selectedCourse.courseName}} </div>

                                    <i class="icon ico-oc-arrow-down os-color-deep-teal font-size-14px right"> </i>
                                </div>

                                <div class="course-list" ng-if="courseListVisible">



                                    <div class="list-item pad-10 os-color-black font-size-14px" ng-repeat="item in formData.studentDetails.enrolmentDetails" ng-click="selectCourse(item , $event)" ng-class="{'selected' : formData.selectedCourse.courseCode == item.courseCode }"> {{item.courseName}}
                                        <i class="icon ico-oc-tick-thick right os-color-chartreuse" ng-show="formData.selectedCourse.courseCode == item.courseCode"> </i>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="email pad-b10">
                            <div class="title"> Email </div>
                            <div class="neg-mgn-t10 pad-t5 description">{{formData.studentDetails.studentEmail}}</div>
                        </div>
                        <div class="student-number">
                            <div class="title"> Student Number </div>
                            <div class="neg-mgn-t10 pad-t5 description"> {{formData.studentDetails.studentNumber}}</div>
                        </div>

                    </div>

                </div>

            </div>



        </div>

        <div class="form-footer os-bg-white sld-bdr-t-black position-fixed">

            <div class="content-container">
                <div class="row pad-t10 pad-b10">

                    <div class="column small-12 small-text-center medium-4 medium-text-left nopad left">
                        <button class="next-step-button button button-secondary-medium" ng-click="nextStep(4)" ng-disabled="!formData.selectedCourse.courseCode || !formData.selectedCourse.valid" ng-class="{'mobile': isMobile}"> Yes that's me </button>
                    </div>


                </div>
            </div>
        </div>


    </div>